.button{
    -fx-background-color: linear-gradient(#E1E1E1, #B8B8B8);
    -fx-font-size: 15px;
    -fx-border-color: #B8B8B8;
}

.root{
    -fx-background-color: #ECECEC;
}

.text-field{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;

}
